<p>card works!</p>
<div class="card" style="width: 15rem;">
    <img [src]="obj.img" class="card-img-top col-img" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ obj.raza }}</h5>
      <p>
        <strong>{{ obj.origen }}</strong>
      </p>
      <p class="card-text"><strong>Peso</strong>{{ obj.peso}}</p>
      <p class="card-text"><strong>Guardian</strong>{{ obj.guardian}}</p>
      <a [routerLink]="['/mascotar',obj.id]" class="btn btn-primary">Leer mas</a>
    </div>
  </div>